// elements
// buttons
.btn{
    appearance: none;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    &--primary{
        padding: var(--default);
        background: var(--primary-color);
        color: var(--white);
        font-size: var(--default);
        text-transform: uppercase;
        &:hover{
            background-color: var(--primary-color-dark);
        }
        &:focus{
            background-color: var(--primary-color-light);
        }
    }
}

//grids
.cell{
    width: 100%;
}

// layout
.page-end{
    height: 10rem;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}