// elements
// buttons
.btn{
    appearance: none;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    &--primary{
        padding: var(--default);
        background: var(--primary-color);
        color: var(--white);
        font-size: var(--default);
        text-transform: uppercase;
    }
}

//grids
.cell{
    width: 100%;
}

// layout
.page-end{
    height: 10rem;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}