// fonts
@font-face {
    font-family: secondary;
    src: url('fonts/328921_0_0.woff2');
}
@font-face {
    font-family: cera_proregular;
    src: url('fonts/CeraPRO-Regular.woff2');
}
@font-face {
    font-family: cera_promedium;
    src: url('fonts/CeraPRO-Medium.woff2'); 
}