// utility classes
// text
.text{
    // fontsizes
    &--xx-small{
    font-size: var(--xx-small);
    }
    &--x-small{
        font-size: var(--x-small);
    }
    &--default{
        font-size: var(--default);
    }
    &--medium{
        font-size: var(--medium);
    }
    &--x-large{
        font-size: var(--x-large);
    }
    &--xx-large{
        font-size: var(--xx-large);
    }
    // alignment
    &--align-left{
        text-align: left;
    }
    &--align-center{
        text-align: center;
    }
    &--align-right{
        text-align: right;
    }
    // fontfamily
    &--primary-regular{
        font-family: var(--font--primary);
    }
    &--primary-regular{
        font-family: var(--font--primary);
    }
    &--secondary{
        font-family: var(--font--secondary);
    }
    // utilities
    &--uppercase{
        text-transform: uppercase;
    }
    &--bold{
        font-weight: var(--font--bold);
    }
    &--thin{
        font-weight: var(--font--light);
    }
}
// color
.color{
    &--primary{
        color: var(--primary-color)
    }
    &--secondary{
        color: var(--secondary-color)
    }
    &--black{
        color: var(--black)
    }
    &--white{
        color: var(--white)
    }
    &--grey-100{
        color: var(--grey-100)
    }
    &--grey-200{
        color: var(--grey-200)
    }
    &--grey-300{
        color: var(--grey-300)
    }
    &--grey-400{
        color: var(--grey-400)
    }
    &--grey-500{
        color: var(--grey-500)
    }
}
.bg-color{
    &--primary{
        background: var(--primary-color)
    }
    &--secondary{
        background: var(--secondary-color)
    }
    &--black{
        background: var(--black)
    }
    &--white{
        background: var(--white)
    }
    &--grey-100{
        background: var(--grey-100)
    }
    &--grey-200{
        background: var(--grey-200)
    }
    &--grey-300{
        background: var(--grey-300)
    }
    &--grey-400{
        background: var(--grey-400)
    }
    &--grey-500{
        background: var(--grey-500)
    }
}
.border-color{
    &--primary{
        border-color: var(--primary-color)
    }
    &--secondary{
        border-color: var(--secondary-color)
    }
    &--black{
        border-color: var(--black)
    }
    &--white{
        border-color: var(--white)
    }
    &--grey-100{
        border-color: var(--grey-100)
    }
    &--grey-200{
        border-color: var(--grey-200)
    }
    &--grey-300{
        border-color: var(--grey-300)
    }
    &--grey-400{
        border-color: var(--grey-400)
    }
    &--grey-500{
        border-color: var(--grey-500)
    }
}

// spacing
.m{
    margin: 1em;
    &--0{
        margin: 0;
    }
    &-top{
        margin-top: 1em;
    }
    &-bottom{
        margin-bottom: 1em;
    }
    &-left{
        margin-left: 1em; 
    }
    &-right{
        margin-right: 1em;
    }
    &--2{
        margin: 2em;
        &-top{
            margin-top: 2em;
        }
        &-bottom{
            margin-bottom: 2em;
        }
        &-left{
            margin-left: 2em;
        }
        &-right{
            margin-right: 2em;
        }
    }
    &--3{
        margin: 3em;
        &-top{
            margin-top: 3em;
        }
        &-bottom{
            margin-bottom: 3em;
        }
        &-left{
            margin-left: 3em;
        }
        &-right{
            margin-right: 3em;
        }
    }
    &--4{
        margin: 4em;
        &-top{
            margin-top: 4em;
        }
        &-bottom{
            margin-bottom: 4em;
        }
        &-left{
            margin-left: 4em;
        }
        &-right{
            margin-right: 4em;
        }
    }
    &--auto{
        margin: auto;
        &-top{
            margin-top: auto;
        }
        &-bottom{
            margin-bottom: auto;
        }
        &-left{
            margin-left: auto;
        }
        &-right{
            margin-right: auto;
        }
    }
}
.p{
    padding: 1em;
    &--0{
        padding: 0;
    }
    &-top{
        padding-top: 1em;
    }
    &-bottom{
        padding-bottom: 1em;
    }
    &-left{
        padding-left: 1em;
    }
    &-right{
        padding-right: 1em;
    }
    &--2{
        padding: 2em;
        &-top{
            padding-top: 2em;
        }
        &-bottom{
            padding-bottom: 2em;
        }
        &-left{
            padding-left: 2em;
        }
        &-right{
            padding-right: 2em;
        }
    }
    &--3{
        padding: 3em;
        &-top{
            padding-top: 3em;
        }
        &-bottom{
            padding-bottom: 3em;
        }
        &-left{
            padding-left: 3em;
        }
        &-right{
            padding-right: 3em;
        }
    }
    &--4{
        padding: 4em;
        &-top{
            padding-top: 4em;
        }
        &-bottom{
            padding-bottom: 4em;
        }
        &-left{
            padding-left: 4em;
        }
        &-right{
            padding-right: 4em;
        }
    }
}

// layout
.content-element{
    padding: 2em 0;
}