// colors
:root{
    --primary-color: #00afab;
    --primary-color-light: #99dfdd;
    --primary-color-dark: #009793;

    --secondary-color: #00afab;
    
    --black: #000000;
    --white: #ffffff;

    --grey-100: #f8f8f8;
    --grey-200: #cdcdcd;
    --grey-300: #7c7c7c;
    --grey-400: #ffffff;
    --grey-500: #353535;
}

// size
:root{
    --xx-small:0.4rem;
    --x-small:0.6rem;
    --small:0.8rem;
    --default:.938rem;
    --medium:1.3rem;
    --large:1.488rem;
    --x-large:1.688rem;
    --xx-large:2.625rem;
    --max-width: 80rem;
}

// font
:root{
    --font--primary-regular: cera_proregular;
    --font--primary-medium: cera_promedium;
    --font--secondary: secondary;

    --font--light: 200;
    --font--bold: 700;
}